@page "{id:int}/{boardId:int}/{backlog:bool}"
@using global::UserStoryBoard.Models
@model UserStoryBoard.Pages.UserStoryDetailModel
@{
    @* THIS IS IN THE BACKGROUND - A SIMPLE COPY OF THE KANBAN BOARD PAGE WITH NON-FUNCTIONAL BUTTONS *@
    @if (Model.IsBacklog == false)
    { <h1>@Model.GetCurrentBoard().Name</h1> }
    else { <h1>Backlog for @Model.GetCurrentBoard().Name</h1> }
    <div class="container-fluid p-md-4" style="background-color:#181A1E;">
        <div class="mb-2">
            <a class="btn btn-success">
                <i class="fa fa-plus"></i>
            </a>
            <a class="btn btn-info">
                <i class="fa fa-book"></i>
            </a>
        </div>

        @* THE MODEL - THIS IS WHAT IS DRAWN ON TOP *@
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"><small class="text-muted">@Model.UserStory.Id</small>@Model.UserStory.Name</h5>
                        @*<a type="button" class="close" asp-page="../Boards/KanbanBoard" asp-route-id="@Model.UserStory.BoardId" asp-route-backlog="@Model.IsBacklog">&times;</a>*@
                    </div>

                    <div class="modal-body">
                        <p><b>Description:</b> @Model.UserStory.Description</p>
                        <p><b>Business Value:</b> @Model.UserStory.BusinessValue</p>
                        <p><b>Creation Date:</b> @Model.UserStory.CreationDate</p>
                        <p><b>Priority:</b> @Model.UserStory.Priority</p>
                        <p><b>Story Points:</b> @Model.UserStory.StoryPoints</p>
                    </div>

                    <div class="modal-footer">
                        @if (Model.IsBacklog == false)
                        {<a type="button" class="btn btn-danger" asp-page="../Boards/KanbanBoard" asp-route-id="@Model.UserStory.BoardId" asp-route-backlog="@Model.IsBacklog">Close</a>}
                        else {<a type="button" class="btn btn-danger" asp-page="../Backlogs/BacklogUserStory" asp-route-id="@Model.UserStory.BoardId" asp-route-backlog="@Model.IsBacklog">Close</a>}
                    </div>
                </div>
            </div>
        </div>

        @* THIS IS IN THE BACKGROUND - A SIMPLE COPY OF THE KANBAN BOARD PAGE WITH NON-FUNCTIONAL BUTTONS *@
        <div class="row align-items-start">
            @for (int i = 0; i < Model.ColumnsToDraw; i++)
            {
            <div class="col-3" onmouseup="card_drop(card_drag_id, this, @Model.GetCurrentBoard().Id, @i)" style="min-height: 200px">
                @if (Model.IsBacklog == false)
                {<h2>@Board.ColumnNames[i]</h2>}
                else { <h2>@Backlog.ColumnNames[i]</h2>}

                @foreach (UserStory userStory in Model.GetUserStories())
                {
                    @if (userStory.ColumnId == i)
                    {
                        <div class="card mb-2" style="width: 95%" id="@userStory.Id">
                            <div class="card-header p-2" onmousedown="card_drag(@userStory.Id)">
                                <h5 class="card-title text-white">
                                    <small class="text-muted">(@userStory.Id)</small> @userStory.Name
                                </h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Board ID: @userStory.BoardId</p>
                                <p class="card-text text-white">@userStory.Description</p>
                            </div>
                            <div class="card-footer m-sm-1">
                                <a class="btn btn-secondary m-sm-1">
                                    <i class="fa fa-info-circle"></i>
                                </a>
                                <a class="btn btn-warning m-sm-1">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn btn-danger m-sm-1">
                                    <i class="fa fa-trash"></i>
                                </a>
                                <a class="btn btn-dark m-sm-1">
                                    <i class="fa fa-arrow-left"></i>
                                </a>
                                <a class="btn btn-dark m-sm-1">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    }
                }
            </div>
            }
        </div>
    </div>
}

@* MAGIC *@
@section Scripts
{
    <script>
        $(document).ready(function () {
            $("#myModal").modal({ backdrop: "static" });
            $("#myModal").modal('show');
        });
    </script>
}
