@page "{id:int}"
@using global::UserStoryBoard.Models
@model UserStoryBoard.Pages.BacklogUserStoryModel
@{
    <h1>Backlog for @Model.GetCurrentBoard().Name</h1>
    <div class="container-fluid p-md-4" style="background-color:#181A1E;">
        <div class="mb-2">
            <a class="btn btn-success" type="button" asp-page="../UserStories/CreateUserStory" asp-route-id="@Model.GetCurrentBoard().Id" asp-route-backlog=@true>
                <i class="fa fa-plus"></i>
            </a>
            <a class="btn btn-info" type="button" asp-page="../Boards/KanbanBoard" asp-route-id="@Model.GetCurrentBoard().Id">
                <i class="fa fa-book"></i>
            </a>
        </div>
        <div class="row align-items-start">
            @for (int i = 0; i < Backlog.Columns; i++)
            {
                <div class="col-3" onmouseup="card_drop(card_drag_id, this, @Model.GetCurrentBoard().Id, @i)" style="min-height: 200px">
                    <h2>@Backlog.ColumnNames[i]</h2>
                    @foreach (UserStory userStory in Model.GetUserStories())
                    {
                        @if (userStory.ColumnId == i)
                        {
                            <div class="card mb-2" style="width: 95%" id="@userStory.Id">
                                <div class="card-header p-2" onmousedown="card_drag(@userStory.Id)">
                                    <h5 class="card-title text-white">
                                        <small class="text-muted">(@userStory.Id)</small> @userStory.Name
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">Board ID: @userStory.BoardId</p>
                                    <p class="card-text text-white">@userStory.Description</p>
                                </div>
                                <div class="card-footer m-sm-1">
                                    <a class="btn btn-secondary m-sm-1" type="button" asp-page="../UserStories/UserStoryDetail" asp-route-id="@userStory.Id" asp-route-boardId="@userStory.BoardId">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                    <a class="btn btn-warning m-sm-1" type="button" asp-page="../UserStories/EditUserStory" asp-route-id="@userStory.Id" asp-route-boardId="@userStory.BoardId">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a class="btn btn-danger m-sm-1" type="button" asp-page="../UserStories/DeleteUserStory" asp-route-id="@userStory.Id" asp-route-boardId="@userStory.BoardId">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a class="btn btn-dark m-sm-1" type="button" asp-page="KanbanBoard" asp-route-boardId="@userStory.BoardId" asp-route-userStoryId="@userStory.Id" asp-route-column="@(-1)" asp-page-handler="Column">
                                        <i class="fa fa-arrow-left"></i>
                                    </a>
                                    <a class="btn btn-dark m-sm-1" type="button" asp-page="KanbanBoard" asp-route-boardId="@userStory.BoardId" asp-route-userStoryId="@userStory.Id" asp-route-column="@(1)" asp-page-handler="Column">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                </div>
            }
        </div>
    </div>
}
