@page "{id:int}"
@using global::UserStoryBoard.Models
@model UserStoryBoard.Pages.KanbanBoardModel
@{
    <h1>Kanban Board @Model.currentId</h1>
    <div class="jumbotron">
        <div class="container">
            <div class="row align-items-start">
                @for (int i = 0; i < Model.KanbanBoards.Count; i++)
                {
                    <div class="col-4">
                    <h2>@Model.KanbanBoards[i].Name</h2>
                    @foreach (UserStory userStory in Model.UserStories)
                    {
                        @if (userStory.ColumnId == i)
                        {
                            <div class="card mb-2" style="width: 95%">
                                <div class="card-header p-2">
                                    <h5 class="card-title">
                                        <small class="text-muted">(@userStory.Id)</small> @userStory.Title
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text">@userStory.Description</p>
                                </div>
                                <div class="card-footer">
                                    <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@userStory.Id">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a class="btn" type="button" asp-page="UserStoryDetail" asp-route-id="@userStory.Id">
                                        <i class="fa fa-info-circle"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    }
                    </div>
                }
            </div>
        </div>
    </div>
}